/* import start */
@import "_normalize.scss";
/* import start */

/* variables start */
$bgPage: #2f3741;
/* variables start */

/* common start */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font: 18px / 1.5 "Open Sans", "Arial", "Helvetica", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: $bgPage;
}

.main {
    flex: 1 0 auto;
    padding: 60px 0;
}

.footer {
    flex: 0 0 auto;
}

h1,
h2,
h3,
ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

button {
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
/* common end */

/* header start */
.header {
    padding: 30px 0;
    border-bottom: 1px solid #fff;

    .header__logo {
        margin: 0;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }

    .wrapper {
        position: relative;
        z-index: 1;
    }

    .full__screen {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        background: url(../img/fullScreen.svg) no-repeat center center;
        background-size: contain;
        background-color: #1a7749;

        &:hover {
            background-color: #10b864;
        }
    }

    .active__rull__screen {
        background: url(../img/minScreen.svg) no-repeat center center;
        background-size: contain;
        background-color: #1a7749;
    }
}
/* header end */

/* main content start */
.varients__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
        margin: 0 5px;
        padding: 15px 50px;
        font-size: 18px;
        border-radius: 5px;
    }

    .btn__active {
        color: #fff;
        background-color: #10b864;
    }
}

.piano {
    position: relative;
    z-index: 1;
    width: 560px;
    height: 250px;
    margin: 80px auto 0;

    .piano__btn {
        position: relative;
        z-index: 1;
        height: 100%;
        border-radius: 0 0 15px 15px;
        pointer-events: auto;
        cursor: pointer;

        &:before {
            content: attr(data-letter);
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            pointer-events: none;
        }
    }
}

.active__notes .piano__btn:before {
    content: attr(data-note);
}

.btns__wrap {
    display: flex;
    justify-content: space-between;
}

.white__btns {
    height: 100%;

    .piano__btn {
        width: 12%;
        background-color: #fff;

        &:before {
            bottom: -30px;
        }
    }
}

.sharp__btns {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 83%;
    height: 180px;
    margin: auto;
    pointer-events: none;

    .piano__btn {
        width: 12%;
        background-color: #272e36;

        &:before {
            top: -35px;
        }
    }

    .none {
        background: transparent;
        pointer-events: none;
    }
}
/* main content end */

/* footer start */
.footer {
    padding: 20px 0;
    border-top: 1px solid #fff;
    text-align: center;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .link__item {
        position: relative;
        z-index: 1;
        display: block;
        transition: 0.3s;

        &:hover {
            transform: translateY(-5px);
            filter: drop-shadow(0 0 10px #e4e4e4);
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            filter: invert(80%);
        }
    }

    .github__link {
        padding-left: 60px;
        line-height: 50px;
        color: #fff;

        &:before {
            width: 50px;
            height: 50px;
            background: url(../img/github.png) no-repeat center center;
            background-size: contain;
        }
    }

    .school__link {
        position: relative;
        z-index: 1;
        width: 250px;
        height: 50px;

        &:before {
            width: 100%;
            height: 100%;
            background: url(../img/rss.svg) no-repeat center center;
            background-size: contain;
        }
    }
}
/* footer end */


/*   media   start */
/*     576 - 1150    */
@media screen and (min-width: 576px) and (max-width: 1150px) {
    .wrapper {
        width: 90%;
    }
}
/*     576 - 1150    */

/*  <    575    */
@media screen and (max-width: 575px) {
    .main {
        padding: 60px 15px;
    }

    .wrapper {
        padding: 0 15px;
    }
    /* common end */

    /* header start */
    .header {
        padding: 20px 0;

        .header__logo {
            font-size: 30px;
        }

        .full__screen {
            right: 15px;
            width: 40px;
            height: 40px;
        }
    }
    /* header end */

    /* main content start */
    .varients__wrap {
        .btn {
            padding: 10px 30px;
        }
    }

    .piano {
        width: 100%;
        height: 170px;
        margin: 60px auto 0;

        .piano__btn {
            border-radius: 0 0 8px 8px;

            &:before {
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
            }
        }
    }

    .white__btns .piano__btn:before {
        bottom: -20px;
    }

    .sharp__btns {
        height: 110px;

        .piano__btn:before {
            top: -25px;
        }
    }
    /* main content end */

    /* footer start */
    .footer {
        .github__link {
            padding-left: 45px;
            line-height: 40px;

            &:before {
                width: 40px;
                height: 40px;
            }
        }

        .school__link {
            width: 110px;
            height: 40px;
        }
    }
    /* footer end */
}
/*  <    575    */
/*   media   end */